<div class="discount">
    <div class="index-nav-container">
        <ul class="clearfix">
            <li class="title nav-item mf-shang-hei-regular">有格调</li>
            <li class="nav-item active">全部</li>
            <li class="nav-item">约会聚餐</li>
            <li class="nav-item">丽人spa</li>
            <li class="nav-item">电影演出</li>
            <li class="nav-item">品质出游</li>
        </ul>
    </div>
    <div class="quality-area clearfix">
        <a href="//www.meituan.com/meishi/40282508/" data-bid="b_0x8l7xmn" class="link quality-card" data-query="utm_source=meituanweb"
            target="_blank">
            <div class="quality-img">
                <img src="//p0.meituan.net/msmerchant/1abac93836054073758e2b560b169fc2285100.jpg@368w_208h_1e_1c" class="image">
            </div>
            <div class="poi-info">
                <div class="title" title="Godiva（欧美汇购物中心店）">Godiva（欧美汇购物中心店）</div>
                <div class="sub-title" title="甜心热巧套餐1份">甜心热巧套餐1份</div>
                <div class="price-info">
                    <span class="current-price-wrapper">
                        <span class="price-symbol numfont">¥</span>
                        <span class="current-price numfont">72</span>
                    </span>
                    <span class="old-price">门市价¥84</span>
                    <span class="sold bottom-right-info">中关村</span>
                </div>
            </div>
        </a>
        <a href="//www.meituan.com/meishi/91177633/" data-bid="b_0x8l7xmn" class="link quality-card" data-query="utm_source=meituanweb"
            target="_blank">
            <div class="quality-img">
                <img src="//p0.meituan.net/dpmerchantalbum/782244f22aa08c114e3dad8f24c04d3d195659.jpg@368w_208h_1e_1c" class="image">
            </div>
            <div class="poi-info">
                <div class="title" title="燕语生活燕窝养生滋补炖品（中粮祥云店）">燕语生活燕窝养生滋补炖品（中粮祥云店）</div>
                <div class="sub-title" title="挖球木瓜燕窝1份">挖球木瓜燕窝1份</div>
                <div class="price-info">
                    <span class="current-price-wrapper">
                        <span class="price-symbol numfont">¥</span>
                        <span class="current-price numfont">48</span>
                    </span>
                    <span class="old-price">门市价¥68</span>
                    <span class="sold bottom-right-info">顺义区</span>
                </div>
            </div>
        </a>
        <a href="//www.meituan.com/meishi/2464938/" data-bid="b_0x8l7xmn" class="link quality-card" data-query="utm_source=meituanweb"
            target="_blank">
            <div class="quality-img">
                <img src="//p1.meituan.net/deal/__11519556__9005021.jpg@368w_208h_1e_1c" class="image">
            </div>
            <div class="poi-info">
                <div class="title" title="黄鹤楼酒店">黄鹤楼酒店</div>
                <div class="sub-title" title="超值六人套餐，提供免费WiFi">超值六人套餐，提供免费WiFi</div>
                <div class="price-info">
                    <span class="current-price-wrapper">
                        <span class="price-symbol numfont">¥</span>
                        <span class="current-price numfont">698</span>
                    </span>
                    <span class="old-price">门市价¥1126</span>
                    <span class="sold bottom-right-info">复兴门</span>
                </div>
            </div>
        </a>
        <a href="//www.meituan.com/meishi/119925418/" data-bid="b_0x8l7xmn" class="link quality-card" data-query="utm_source=meituanweb"
            target="_blank">
            <div class="quality-img">
                <img src="//p0.meituan.net/msmerchant/12022726cd840ec72681189e443b4464391832.jpg@368w_208h_1e_1c" class="image">
            </div>
            <div class="poi-info">
                <div class="title" title="云海肴云南菜（喜隆多店）">云海肴云南菜（喜隆多店）</div>
                <div class="sub-title" title="腊排骨火锅双人餐">腊排骨火锅双人餐</div>
                <div class="price-info">
                    <span class="current-price-wrapper">
                        <span class="price-symbol numfont">¥</span>
                        <span class="current-price numfont">抢光了</span>
                    </span>
                    <span class="sold bottom-right-info">苹果园</span>
                </div>
            </div>
        </a>
        <a href="//www.meituan.com/meishi/160766520/" data-bid="b_0x8l7xmn" class="link quality-card" data-query="utm_source=meituanweb"
            target="_blank">
            <div class="quality-img">
                <img src="//p1.meituan.net/msmerchant/812dd4e6f3c29306115d5430b8591f3f128251.jpg@368w_208h_1e_1c" class="image">
            </div>
            <div class="poi-info">
                <div class="title" title="铭仁铁桶烤肉">铭仁铁桶烤肉</div>
                <div class="sub-title" title="精品六人餐人餐，包间免费">精品六人餐人餐，包间免费</div>
                <div class="price-info">
                    <span class="current-price-wrapper">
                        <span class="price-symbol numfont">¥</span>
                        <span class="current-price numfont">468</span>
                    </span>
                    <span class="old-price">门市价¥598</span>
                    <span class="sold bottom-right-info">云岗</span>
                </div>
            </div>
        </a>
        <a href="//www.meituan.com/meishi/103240793/" data-bid="b_0x8l7xmn" class="link quality-card" data-query="utm_source=meituanweb"
            target="_blank">
            <div class="quality-img">
                <img src="//p1.meituan.net/msmerchant/718cccf26ae7be72fb839ad103b2ce43261146.jpg@368w_208h_1e_1c" class="image">
            </div>
            <div class="poi-info">
                <div class="title" title="汉釜宫韩式烤肉（亦庄店）">汉釜宫韩式烤肉（亦庄店）</div>
                <div class="sub-title" title="双人餐套，提供免费WiFi">双人餐套，提供免费WiFi</div>
                <div class="price-info">
                    <span class="current-price-wrapper">
                        <span class="price-symbol numfont">¥</span>
                        <span class="current-price numfont">158</span>
                    </span>
                    <span class="old-price">门市价¥266</span>
                    <span class="sold bottom-right-info">亦庄</span>
                </div>
            </div>
        </a>
    </div>
</div>