.head {
    width: 1000px;
    color: #999;
    height: 40px;
    line-height: 40px;
    background: #F8F8F8;
    margin: 0 auto;
    .current-city {
        color: #666;
    }
    .change-city {
        background: #F4F4F4;
        border: 1px solid #E5E5E5;
        border-radius: 2px;
        color: #666;
        margin: 0 4px;
        padding: 0 2px;
    }
    .near-citys {
        display: inline-block;
        a {
            color: #999;
        }
    }
    .header-bar .header-bar-nav {
        float: right;
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none; 
            }
        }
    }
    .header-bar .header-nav-first>li {
        float: left;
        position: relative;
        height: 40px;
        padding: 12px 14px;
        box-sizing: border-box;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }
}