<div class="head-main">
    <div class="head-top">
        <div class="head">
            <div class="header-bar">
                <span class="icon-map"></span>
                <span class="current-city">北京</span>
                <a class="change-city" href="http://www.meituan.com/changecity/">切换城市2</a>
                <div class="near-citys">[
                    <a class="city-guess" href="http://dachangzizhixian.meituan.com">大厂回族自治县</a>
                    <a class="city-guess" href="http://lf.meituan.com">廊坊</a>
                    <a class="city-guess" href="http://sanhe.meituan.com">三河</a>]
                </div>
                <div class="user-entry" style="display: inline-block;">
                    <a class="growth-entry user-importent" href="https://passport.meituan.com/account/unitivelogin?service=www&amp;continue=http%3A%2F%2Fwww.meituan.com%2Faccount%2Fsettoken%3Fcontinue%3Dhttp%253A%252F%252Fbj.meituan.com%252F">立即登录</a>
                    <a class="extra-entry" href="https://passport.meituan.com/account/unitivesignup?service=www&amp;continue=http%3A%2F%2Fwww.meituan.com%2Faccount%2Fsettoken%3Fcontinue%3Dhttp%253A%252F%252Fbj.meituan.com%252F">注册</a>
                </div>
                <nav class="header-bar-nav">
                    <ul class="header-nav-first">
                        <li class="has-child">
                            我的美团
                        </li>
                        <li>
                            手机APP
                        </li>
                        <li class="has-child">商家中心
                        </li>
                        <li class="has-child web-addr">网站导航
                            <div class="header-nav-site header-nav-second" style="display:none;">
                                <dl class="header-jiulv header-nav-third">
                                    <dt>酒店旅游</dt>
                                    <dd>
                                        <a href="http://www.meituan.com/iflight/" target="_blank">国际机票</a>
                                    </dd>
                                    <dd>
                                        <a href="http://www.meituan.com/train/" target="_blank">火车票</a>
                                    </dd>
                                    <dd>
                                        <a href="https://www.zhenguo.com/" target="_blank">榛果民宿</a>
                                    </dd>
                                    <dd>
                                        <a href="http://hotel.meituan.com/beijing/c20036/" target="_blank">经济型酒店</a>
                                    </dd>
                                    <dd>
                                        <a href="http://hotel.meituan.com/beijing/c20037/" target="_blank">主题酒店</a>
                                    </dd>
                                    <dd>
                                        <a href="http://hotel.meituan.com/beijing/c20038/" target="_blank">商务酒店</a>
                                    </dd>
                                    <dd>
                                        <a href="http://hotel.meituan.com/beijing/c20039/" target="_blank">公寓</a>
                                    </dd>
                                    <dd>
                                        <a href="http://hotel.meituan.com/beijing/c20040/" target="_blank">豪华酒店</a>
                                    </dd>
                                    <dd>
                                        <a href="http://hotel.meituan.com/beijing/c20041/" target="_blank">客栈</a>
                                    </dd>
                                    <dd>
                                        <a href="http://hotel.meituan.com/beijing/c20042/" target="_blank">青年旅社</a>
                                    </dd>
                                    <dd>
                                        <a href="http://hotel.meituan.com/beijing/c20043/" target="_blank">度假酒店</a>
                                    </dd>
                                    <dd>
                                        <a href="http://hotel.meituan.com/beijing/c20044/" target="_blank">别墅</a>
                                    </dd>
                                    <dd>
                                        <a href="http://hotel.meituan.com/beijing/c20045/" target="_blank">农家院</a>
                                    </dd>
                                </dl>
                                <dl class="header-meishi header-nav-third">
                                    <dt>吃美食</dt>
                                    <dd>
                                        <a href="http://bj.meituan.com/meishi/c20004/" target="_blank">烤鱼</a>
                                    </dd>
                                    <dd>
                                        <a href="http://bj.meituan.com/meishi/c36/" target="_blank">特色小吃</a>
                                    </dd>
                                    <dd>
                                        <a href="http://bj.meituan.com/meishi/c54/" target="_blank">烧烤</a>
                                    </dd>
                                    <dd>
                                        <a href="http://bj.meituan.com/meishi/c40/" target="_blank">自助餐</a>
                                    </dd>
                                    <dd>
                                        <a href="http://bj.meituan.com/meishi/c17/" target="_blank">火锅</a>
                                    </dd>
                                    <dd>
                                        <a href="http://bj.meituan.com/meishi/c393/" target="_blank">代金券</a>
                                    </dd>
                                </dl>
                                <dl class="header-movie header-nav-third">
                                    <dt>看电影</dt>
                                    <dd>
                                        <a href="http://maoyan.com/films" target="_blank">热映电影</a>
                                    </dd>
                                    <dd>
                                        <a href="http://maoyan.com/cinemas" target="_blank">热门影院</a>
                                    </dd>
                                    <dd>
                                        <a href="http://maoyan.com/board" target="_blank">热映电影口碑榜</a>
                                    </dd>
                                    <dd>
                                        <a href="http://maoyan.com/board/6" target="_blank">最受期待电影</a>
                                    </dd>
                                    <dd>
                                        <a href="http://maoyan.com/board/1" target="_blank">国内票房榜</a>
                                    </dd>
                                    <dd>
                                        <a href="http://maoyan.com/board/2" target="_blank">北美票房榜</a>
                                    </dd>
                                    <dd>
                                        <a href="http://maoyan.com/board/4" target="_blank">电影排行榜</a>
                                    </dd>
                                </dl>
                                <dl class="header-app header-nav-third">
                                    <dt>手机应用</dt>
                                    <dd>
                                        <a href="http://i.meituan.com/mobile/down/meituan" target="_blank">
                                            <img class="appicon" src="//s0.meituan.net/bs/fe-web-meituan/404d350/img/appicons/meituan.png" title="美团app" alt="美团app">
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="http://waimai.meituan.com/mobile/download/default" target="_blank">
                                            <img class="appicon" src="//s1.meituan.net/bs/fe-web-meituan/404d350/img/appicons/waimai.png" title="外卖app" alt="外卖app">
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="https://www.zhenguo.com/app/" target="_blank">
                                            <img class="appicon" src="//s0.meituan.net/bs/fe-web-meituan/404d350/img/appicons/zhenguo.png" title="榛果app" alt="榛果app">
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="http://www.dianping.com/events/m/index.htm" target="_blank">
                                            <img class="appicon" src="//s1.meituan.net/bs/fe-web-meituan/404d350/img/appicons/dianping.png" title="点评app" alt="点评app">
                                        </a>
                                    </dd>
                                    <dd>
                                        <a href="http://maoyan.com/app" target="_blank">
                                            <img class="appicon" src="//s1.meituan.net/bs/fe-web-meituan/404d350/img/appicons/maoyan.png" title="猫眼app" alt="猫眼app">
                                        </a>
                                    </dd>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="search-module">
            <div class="header-content clearfix">
                    <div class="header-title-module">
                        <div class="header-title">
                            <a href="//sh.meituan.com">
                                <img src="../../assets/images/logo.png" alt="美团">
                            </a>
                        </div>
                    </div>
                    <div class="header-search-module">
                        <div class="header-search-block">
                            <input class="header-search-input" type="text" placeholder="搜索商家或地点">
                            <button class="header-search-btn">
                                <img src="../../assets/images/4.jpg" alt="" srcset="">
                            </button>
                        </div>
                        <div class="header-search-hotword">
                            <a href="http://www.meituan.com/s/%E4%B8%8A%E6%B5%B7%E8%BF%AA%E5%A3%AB%E5%B0%BC%E5%BA%A6%E5%81%87%E5%8C%BA">上海迪士尼度假区</a>
                            <a href="http://www.meituan.com/s/%E4%B8%9C%E6%96%B9%E6%98%8E%E7%8F%A0%E5%B9%BF%E6%92%AD%E7%94%B5%E8%A7%86%E5%A1%94">东方明珠广播电视塔</a>
                            <a href="http://www.meituan.com/s/%E4%B8%8A%E6%B5%B7%E9%87%8E%E7%94%9F%E5%8A%A8%E7%89%A9%E5%9B%AD">上海野生动物园</a>
            
                        </div>
                    </div>
                    <a class="header-commitment" href="http://www.meituan.com/commitment/" target="_blank">
                        <ul>
                            <li class="commitment-item">
                                <img src="/assets/images/1.png" alt="" srcset="">
                                <div>随时退</div>
                            </li>
                            <li class="commitment-item">
                                <img src="/assets/images/3.png" alt="" srcset="">
                                <div>不满意免单</div>
                            </li>
                            <li class="commitment-item">
                                <img src="/assets/images/3.png" alt="" srcset="">
                                <div>过期退</div>
                            </li>
                        </ul>
                    </a>
                </div>
    </div>
   
</div>