<div class="pattern">
    <div class="index-nav-container">
        <ul class="clearfix">
            <li class="title nav-item mf-shang-hei-regular">有格调</li>
            <li class="nav-item active">全部</li>
            <li class="nav-item">约会聚餐</li>
            <li class="nav-item">丽人spa</li>
            <li class="nav-item">电影演出</li>
            <li class="nav-item">品质出游</li>
        </ul>
    </div>
    <div class="quality-area clearfix">
        <a href="//www.meituan.com/cate/94019925/" data-bid="b_0x8l7xmn" class="link quality-card" data-query="utm_source=meituanweb"
            target="_blank">
            <div class="quality-img">
                <img src="//p0.meituan.net/merchantpic/aa6847cd7a01512a19d26fabe848fc71219428.jpg@240w_180h_1e_1c_1l|watermark=1&amp;&amp;r=2&amp;p=9&amp;x=2&amp;y=2&amp;relative=1&amp;o=20|368w_208h_1e_1c"
                    class="image">
            </div>
            <div class="poi-info">
                <div class="title" title="Nail All 妮欧美甲美睫（闵行店）">Nail All 妮欧美甲美睫（闵行店）</div>
                <div class="sub-title" title="Nail All 妮欧美甲美睫（闵行店）">Nail All 妮欧美甲美睫（闵行店）</div>
                <div class="price-info">
                    <span class="current-price-wrapper">
                        <span class="price-symbol numfont">¥</span>
                        <span class="current-price numfont">183
                            <span class="current-price-type">/人均</span>
                        </span>
                    </span>
                    <span class="sold bottom-right-info">老闵行/交大师大</span>
                </div>
            </div>
        </a>
        <a href="//www.meituan.com/meishi/163125647/" data-bid="b_0x8l7xmn" class="link quality-card" data-query="utm_source=meituanweb"
            target="_blank">
            <div class="quality-img">
                <img src="//p0.meituan.net/msmerchant/6641175510d26107897cfa5eae4c168b1081063.jpg@368w_208h_1e_1c" class="image">
            </div>
            <div class="poi-info">
                <div class="title" title="塔哈尔（宝山龙湖店）">塔哈尔（宝山龙湖店）</div>
                <div class="sub-title" title="商务双人套餐，提供免费WiFi">商务双人套餐，提供免费WiFi</div>
                <div class="price-info">
                    <span class="current-price-wrapper">
                        <span class="price-symbol numfont">¥</span>
                        <span class="current-price numfont">99</span>
                    </span>
                    <span class="old-price">门市价¥162</span>
                    <span class="sold bottom-right-info">宝山区</span>
                </div>
            </div>
        </a>
        <a href="//www.meituan.com/shop/5411774/" data-bid="b_0x8l7xmn" class="link quality-card" data-query="utm_source=meituanweb"
            target="_blank">
            <div class="quality-img">
                <img src="//p1.meituan.net/deal/0190ad4f18b9dedc0c29d1d48b390f47207938.jpg@368w_208h_1e_1c" class="image">
            </div>
            <div class="poi-info">
                <div class="title" title="保利国际影城(江川店)">保利国际影城(江川店)</div>
                <div class="sub-title" title="免押金,可停车,儿童票,巨幕厅,60帧厅">免押金,可停车,儿童票,巨幕厅,60帧厅</div>
                <div class="price-info">
                    <span class="current-price-wrapper">
                        <span class="price-symbol numfont">¥</span>
                        <span class="current-price numfont">19.9
                            <span class="current-price-type">/人均</span>
                        </span>
                    </span>
                </div>
            </div>
        </a>
        <a href="//www.meituan.com/meishi/76129640/" data-bid="b_0x8l7xmn" class="link quality-card" data-query="utm_source=meituanweb"
            target="_blank">
            <div class="quality-img">
                <img src="//p0.meituan.net/msmerchant/1abac93836054073758e2b560b169fc2285100.jpg@368w_208h_1e_1c" class="image">
            </div>
            <div class="poi-info">
                <div class="title" title="Godiva（大悦城）">Godiva（大悦城）</div>
                <div class="sub-title" title="软冰买一送一套餐1份">软冰买一送一套餐1份</div>
                <div class="price-info">
                    <span class="current-price-wrapper">
                        <span class="price-symbol numfont">¥</span>
                        <span class="current-price numfont">50</span>
                    </span>
                    <span class="old-price">门市价¥100</span>
                    <span class="sold bottom-right-info">大悦城</span>
                </div>
            </div>
        </a>
        <a href="//www.meituan.com/meishi/135823230/" data-bid="b_0x8l7xmn" class="link quality-card" data-query="utm_source=meituanweb"
            target="_blank">
            <div class="quality-img">
                <img src="//p0.meituan.net/msmerchant/756c230875cc8767431c9739e41709c2443464.jpg@368w_208h_1e_1c" class="image">
            </div>
            <div class="poi-info">
                <div class="title" title="inWE因味茶（丁香路店）">inWE因味茶（丁香路店）</div>
                <div class="sub-title" title="桂花酿米酵素1份">桂花酿米酵素1份</div>
                <div class="price-info">
                    <span class="current-price-wrapper">
                        <span class="price-symbol numfont">¥</span>
                        <span class="current-price numfont">26</span>
                    </span>
                    <span class="old-price">门市价¥32</span>
                    <span class="sold bottom-right-info">世纪公园</span>
                </div>
            </div>
        </a>
        <a href="//www.meituan.com/shop/165281420/" data-bid="b_0x8l7xmn" class="link quality-card" data-query="utm_source=meituanweb"
            target="_blank">
            <div class="quality-img">
                <img src="//p1.meituan.net/deal/201012/08/ct7.jpg@368w_208h_1e_1c" class="image">
            </div>
            <div class="poi-info">
                <div class="title" title="中影国际影城(嘉定菊园店)">中影国际影城(嘉定菊园店)</div>
                <div class="sub-title" title="中国巨幕厅,巨幕厅">中国巨幕厅,巨幕厅</div>
                <div class="price-info">
                    <span class="current-price-wrapper">
                        <span class="price-symbol numfont">¥</span>
                        <span class="current-price numfont">24
                            <span class="current-price-type">/人均</span>
                        </span>
                    </span>
                </div>
            </div>
        </a>
        <div style="clear: both;"></div>
    </div>
</div>