<!--
 * @Author: linjianxi
 * @Date: 2020-10-09 14:20:21
 * @LastEditTime: 2020-10-09 14:36:37
 * @Description: file content
-->
<div class="goald1-module">
  <div class="goald_main" id="goald_main">
    <!-- 新版 -->
    <div class="goald_roll" id="goald_roll">
      <div class="goald_title"><img src="../../assets/images/title.png" class="logo-title" alt="" srcset=""></div>
      <ul class="goald_roll_ul">
        <li class="goald_roll_li">
          本次消费获得福利积分
          <div class="goald_roll_consume" style="display: flex;">
            <div class="consume_jia">+</div>
            <div class="consume_value"></div>
          </div>
        </li>
        <li class="goald_roll_li">
          累积获得福利积分
          <div class="goald_roll_fuli" style="display: flex;">
            <div class="consume_jia">+</div>
            <div class="fuli_value"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="goald_countdown">
      <div class="goald_countdown_time">
        00
      </div>
      <div class="goald_countdown_fuhao">
        :
      </div>
      <div class="goald_countdown_time" id="goald_countdown_time">
        59
      </div>
      <div class="goald_countdown_fuhao">
        :
      </div>
      <div class="goald_countdown_time" id="goald_countdown_time_hao">
        09
      </div>
      <div class="goald_countdown_text">
        后过期
      </div>
    </div>
    <!--  -->
    <div class="goald_top">
      <div class="goald_m" style="display: none; color: white;">
        <div class="help_cont">
          <div><img src="../../assets/images/logo-2.png" class="logo-g" alt="" srcset=""></div>
          <div class="help">规则</div>
        </div>
        <div class="goald_title">本店赠送收钱吧福利社积分
        </div>
        <div class="goald"><span class="add">+</span> <span class="score"></span></div>
        <div class="goald_use">积分账号余额: <span class="price"></span></div>
      </div>
      <!-- <div class="help_main">
            <img src="../../assets//images/help_icon.png" class="help_icon" alt="" srcset="">
        </div>       -->
    </div>
    <div class="goadl_content" id="bg_main">
      <!-- <div class="goald_btn">立即兑换</div>                 -->
    </div>
    <img class="imp_tracking_urls" alt="" style="display:none" />
    <img class="click_tracking_urls" style="display:none" alt="" />
  </div>
</div>