<div class="container" id="move-content">
    <div class="content">
        <div class="wrapper">
            <div class="main">
                <p class="update-time">2018-12-11<span class="has-fresh-text">已更新</span></p>
                <p class="board-content">榜单规则：将昨日国内热映的影片，按照评分从高到低排列取前10名，每天上午10点更新。相关数据来源于“猫眼专业版”及“猫眼电影库”。</p>
                <dl class="board-wrapper">
                    <dd>
                        <i class="board-index board-index-1">1</i>
                        <a href="/films/249342" title="海王" class="image-link" data-act="boarditem-click" data-val="{movieId:249342}">
                            <img src="//ms0.meituan.net/mywww/image/loading_2.e3d934bf.png" alt="" class="poster-default">
                            <img alt="海王" class="board-img" src="https://p0.meituan.net/movie/c106904da68edd848afd4a320976d051346321.jpg@160w_220h_1e_1c">
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/249342" title="海王" data-act="boarditem-click"
                                            data-val="{movieId:249342}">海王</a></p>
                                    <p class="star">
                                        主演：杰森·莫玛,艾梅柏·希尔德,妮可·基德曼
                                    </p>
                                    <p class="releasetime">上映时间：2018-12-07</p>
                                </div>
                                <div class="movie-item-number score-num">
                                    <p class="score"><i class="integer">9.</i><i class="fraction">5</i></p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-2">2</i>
                        <a href="/films/42964" title="毒液：致命守护者" class="image-link" data-act="boarditem-click" data-val="{movieId:42964}">
                            <img src="//ms0.meituan.net/mywww/image/loading_2.e3d934bf.png" alt="" class="poster-default">
                            <img alt="毒液：致命守护者" class="board-img" src="https://p0.meituan.net/movie/363e3a7e614d29b2847ff4e62afcd3f42168651.jpg@160w_220h_1e_1c">
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/42964" title="毒液：致命守护者" data-act="boarditem-click"
                                            data-val="{movieId:42964}">毒液：致命守护者</a></p>
                                    <p class="star">
                                        主演：汤姆·哈迪,米歇尔·威廉姆斯,里兹·阿迈德
                                    </p>
                                    <p class="releasetime">上映时间：2018-11-09</p>
                                </div>
                                <div class="movie-item-number score-num">
                                    <p class="score"><i class="integer">9.</i><i class="fraction">2</i></p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-3">3</i>
                        <a href="/films/1208282" title="无名之辈" class="image-link" data-act="boarditem-click" data-val="{movieId:1208282}">
                            <img src="//ms0.meituan.net/mywww/image/loading_2.e3d934bf.png" alt="" class="poster-default">
                            <img alt="无名之辈" class="board-img" src="https://p0.meituan.net/movie/3e7696319c840d4890e947b926259d532809641.jpg@160w_220h_1e_1c">
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/1208282" title="无名之辈" data-act="boarditem-click"
                                            data-val="{movieId:1208282}">无名之辈</a></p>
                                    <p class="star">
                                        主演：陈建斌,任素汐,潘斌龙
                                    </p>
                                    <p class="releasetime">上映时间：2018-11-16</p>
                                </div>
                                <div class="movie-item-number score-num">
                                    <p class="score"><i class="integer">9.</i><i class="fraction">1</i></p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-4">4</i>
                        <a href="/films/1238696" title="生活万岁" class="image-link" data-act="boarditem-click" data-val="{movieId:1238696}">
                            <img src="//ms0.meituan.net/mywww/image/loading_2.e3d934bf.png" alt="" class="poster-default">
                            <img alt="生活万岁" class="board-img" src="https://p1.meituan.net/movie/f18a1a371e38920840b315f51e846e271016796.jpg@160w_220h_1e_1c">
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/1238696" title="生活万岁" data-act="boarditem-click"
                                            data-val="{movieId:1238696}">生活万岁</a></p>
                                    <p class="star">
                                        主演：李安甫,胡兆翠,康昕
                                    </p>
                                    <p class="releasetime">上映时间：2018-11-27</p>
                                </div>
                                <div class="movie-item-number score-num">
                                    <p class="score"><i class="integer">9.</i><i class="fraction">1</i></p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-5">5</i>
                        <a href="/films/341213" title="无敌破坏王2：大闹互联网" class="image-link" data-act="boarditem-click"
                            data-val="{movieId:341213}">
                            <img src="//ms0.meituan.net/mywww/image/loading_2.e3d934bf.png" alt="" class="poster-default">
                            <img alt="无敌破坏王2：大闹互联网" class="board-img" src="https://p0.meituan.net/movie/600beaeaa9929649f38181d41f2c8578328129.jpg@160w_220h_1e_1c">
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/341213" title="无敌破坏王2：大闹互联网" data-act="boarditem-click"
                                            data-val="{movieId:341213}">无敌破坏王2：大闹互联网</a></p>
                                    <p class="star">
                                        主演：约翰·C·赖利,萨拉·西尔弗曼,克里斯汀·贝尔
                                    </p>
                                    <p class="releasetime">上映时间：2018-11-23</p>
                                </div>
                                <div class="movie-item-number score-num">
                                    <p class="score"><i class="integer">8.</i><i class="fraction">9</i></p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-6">6</i>
                        <a href="/films/1234403" title="恐龙王" class="image-link" data-act="boarditem-click" data-val="{movieId:1234403}">
                            <img src="//ms0.meituan.net/mywww/image/loading_2.e3d934bf.png" alt="" class="poster-default">
                            <img data-src="https://p0.meituan.net/movie/a3f619e42095eb6fbe9853302b1e5b6f3115944.jpg@160w_220h_1e_1c"
                                alt="恐龙王" class="board-img">
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/1234403" title="恐龙王" data-act="boarditem-click"
                                            data-val="{movieId:1234403}">恐龙王</a></p>
                                    <p class="star">
                                        主演：王衡,吕佩玉,孙晔
                                    </p>
                                    <p class="releasetime">上映时间：2018-11-10</p>
                                </div>
                                <div class="movie-item-number score-num">
                                    <p class="score"><i class="integer">8.</i><i class="fraction">9</i></p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-7">7</i>
                        <a href="/films/1221035" title="老爸102岁" class="image-link" data-act="boarditem-click" data-val="{movieId:1221035}">
                            <img src="//ms0.meituan.net/mywww/image/loading_2.e3d934bf.png" alt="" class="poster-default">
                            <img data-src="https://p0.meituan.net/movie/91f5f472ef50499bcf36054287ae4224307016.jpg@160w_220h_1e_1c"
                                alt="老爸102岁" class="board-img">
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/1221035" title="老爸102岁" data-act="boarditem-click"
                                            data-val="{movieId:1221035}">老爸102岁</a></p>
                                    <p class="star">
                                        主演：阿米特巴·巴强,里希·卡普尔,达尔曼德拉·吉尔
                                    </p>
                                    <p class="releasetime">上映时间：2018-11-30</p>
                                </div>
                                <div class="movie-item-number score-num">
                                    <p class="score"><i class="integer">8.</i><i class="fraction">7</i></p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-8">8</i>
                        <a href="/films/1207271" title="憨豆特工3" class="image-link" data-act="boarditem-click" data-val="{movieId:1207271}">
                            <img src="//ms0.meituan.net/mywww/image/loading_2.e3d934bf.png" alt="" class="poster-default">
                            <img alt="憨豆特工3" class="board-img" src="https://p0.meituan.net/movie/677dce9488e154c11afa8fb2fef0725a831453.png@160w_220h_1e_1c">
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/1207271" title="憨豆特工3" data-act="boarditem-click"
                                            data-val="{movieId:1207271}">憨豆特工3</a></p>
                                    <p class="star">
                                        主演：罗温·艾金森,本·米勒,欧嘉·柯瑞兰寇
                                    </p>
                                    <p class="releasetime">上映时间：2018-11-23</p>
                                </div>
                                <div class="movie-item-number score-num">
                                    <p class="score"><i class="integer">8.</i><i class="fraction">6</i></p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-9">9</i>
                        <a href="/films/341753" title="三只小猪2" class="image-link" data-act="boarditem-click" data-val="{movieId:341753}">
                            <img src="//ms0.meituan.net/mywww/image/loading_2.e3d934bf.png" alt="" class="poster-default">
                            <img alt="三只小猪2" class="board-img" src="https://p0.meituan.net/movie/30aff57a6e035d8a147806b4e207b1c67586143.jpg@160w_220h_1e_1c">
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/341753" title="三只小猪2" data-act="boarditem-click"
                                            data-val="{movieId:341753}">三只小猪2</a></p>
                                    <p class="star">
                                        主演：王晓彤,李晔,洪海天
                                    </p>
                                    <p class="releasetime">上映时间：2017-05-27</p>
                                </div>
                                <div class="movie-item-number score-num">
                                    <p class="score"><i class="integer">8.</i><i class="fraction">3</i></p>
                                </div>

                            </div>
                        </div>

                    </dd>
                    <dd>
                        <i class="board-index board-index-10">10</i>
                        <a href="/films/1165276" title="摘金奇缘" class="image-link" data-act="boarditem-click" data-val="{movieId:1165276}">
                            <img src="//ms0.meituan.net/mywww/image/loading_2.e3d934bf.png" alt="" class="poster-default">
                            <img alt="摘金奇缘" class="board-img" src="https://p1.meituan.net/movie/e11fb47d9ce58d57a589563f7c71d3001042027.jpg@160w_220h_1e_1c">
                        </a>
                        <div class="board-item-main">
                            <div class="board-item-content">
                                <div class="movie-item-info">
                                    <p class="name"><a href="/films/1165276" title="摘金奇缘" data-act="boarditem-click"
                                            data-val="{movieId:1165276}">摘金奇缘</a></p>
                                    <p class="star">
                                        主演：康斯坦斯·吴,杨紫琼,亨利·戈尔丁
                                    </p>
                                    <p class="releasetime">上映时间：2018-11-30</p>
                                </div>
                                <div class="movie-item-number score-num">
                                    <p class="score"><i class="integer">8.</i><i class="fraction">3</i></p>
                                </div>

                            </div>
                        </div>

                    </dd>
                </dl>

            </div>
        </div>
    </div>
</div>